body {
	min-height: 100%;
	min-width: 100%;
	padding: 0;
	margin: 0;
}

h1 {
    content: "";
    display: inline-block;
    height: 100%;
    vertical-align: middle;
	padding: 0px;
	margin: 0 auto;
	height: 40px;
	line-height: 40px;
}

html {
	min-height: 100%;
	margin: 0;
}

.cell {
	height: 40px;
	padding: 0px !important;
}

.header {
	margin: 0px;
}

.header-middle {
	margin-top: 10px;
	margin-bottom: 10px;
}

.home-text {
	text-align: left;
}

.landmark-name {
	color: #DA4869;
}

.level {
	text-align: center;
	cursor: pointer;
	height: 40px;
	vertical-align: middle;
	display: table-cell;
	width: 344px;
}

.nav-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.nav-header {
	margin: 0px;
}

.nav-left {
	height: 100%;
	width: 100px;
	align-self: flex-end;
}

.nav-middle {
	height: 100%;
	align-self: flex-end;
}

.nav-right {
	height: 100%;
	width: 100px;
	align-self: flex-end;
}

.row {
	margin: 4px;
}

.stats-block {
	padding-top: 20px;
	text-align: center;
}

.stats-div {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin: auto;
	cursor: pointer;
}

@media all and (min-width:0px) and (max-width: 600px) {
	canvas {
		display: block !important;
		width: 320px !important;
		height: 320px !important;
	}

	.globe-container {
		width: 320px;
		clip-path: circle(160px at 160px 160px);
		text-align: center;
		margin: auto;
		margin-top: 20px;
	}

	.levels-block {
		padding-top: 20px;
		margin: auto;
		width: 320px;
	}

	.navbar {
		border-bottom: 2px solid black;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		background-color: transparent;
		padding-top: 20px;
		width: 320px;
		margin: auto;
	}

	.scene-container {
		position: relative;
		max-height: 320px !important;
		max-width: 320px !important;
	}

	.stats-block {
		padding-top: 20px;
		margin: auto;
		width: 320px;
		height: 480px;
	}

	.top-of-page {
		background: transparent;
		text-align: center;
		color: black;
		padding-top: 20px;
		width: 320px;
		margin: 0 auto;
	}
}

@media all and (min-width:601px) {
	canvas {
		display: block !important;
		width: 600px !important;
		height: 600px !important;
	}

	.globe-container {
		width: 600px;
		clip-path: circle(300px at 300px 300px);
		text-align: center;
		margin: auto;
		margin-top: 20px;
	}

	.levels-block {
		padding-top: 20px;
		margin: auto;
		width: 320px;
	}

	.navbar {
		border-bottom: 2px solid black;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-between;
		background-color: transparent;
		padding-top: 20px;
		width: 600px;
		margin: 0 auto;
	}

	.scene-container {
		position: relative;
		max-height: 600px !important;
		max-width: 600px !important;
	}

	.stats-block {
		padding-top: 20px;
		margin: auto;
		width: 320px;
		height: 480px;
	}

	.top-of-page {
		background: transparent;
		text-align: center;
		color: black;
		padding-top: 20px;
		width: 600px;
		margin: auto;
	}
}
